<!DOCTYPE html>
{% extends 'crud/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
</head>
{% block content %}
<body>
    <div class="container">
        <h2>Book List</h2>
        <hr>
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <label class="form-group" for="title">Title</label>
            <input class="form-control" type="text" name="title"><br>

            <label class="form-group" for="price">Price</label>
            <input class="form-control" type="text" name="price"><br>

            <label class="form-group" for="author">Author</label>
            <input class="form-control" type="text" name="author"><br>

            <label class="form-group" for="about">About</label>
            <input class="form-control" type="text" name="about"><br>
            <input class="btn btn-success" type="submit" value="Create">
        </form>
        <br>
    </div> 
</body>
{% endblock %}
</html>