<!DOCTYPE html>
{% extends 'crud/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Book Details</title>
</head>
{% block content %}
<body>
    <div class="container">
        <h2>Edit Book Details</h2>
        <hr>
        <form action="/update/{{ books.id }}">
            {% csrf_token %}
            <label class="form-group" for="title">Title</label>
            <input class="form-control" type="text" name="title" placeholder="{{ books.title }}"><br>

            <label class="form-group" for="price">Price</label>
            <input class="form-control" type="text" name="price" placeholder="{{ books.price }}"><br>

            <label class="form-group" for="author">Author</label>
            <input class="form-control" type="text" name="author" placeholder="{{ books.author }}"><br>

            <label class="form-group" for="about">About</label>
            <input class="form-control" type="text" name="about" placeholder="{{ books.about }}"><br>
            <input class="btn btn-success" type="submit" value="Update">
        </form>
        <br>
    </div> 
</body>
{% endblock %}
</html>